name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: make install-dev

    - name: Check formatting
      run: make format-check

    - name: Run linting
      run: make lint
      continue-on-error: true

    - name: Run tests
      run: make test
